
.nav-link:hover {
    color: black;
    margin-top: -1.5px;
}

.nav-hover:hover{
    margin-top: 0px;
}

body{
   
    padding-top: 76px;
}

#home-quote{
    background: url('../img/bg-quote.jpg') center center;
    background: cover;
}

@media(max-width:767px){
    #home-quote .display-4{
        font-size: 2.2rem;
    } 
}


.preview-container {
    width: 400px; /* largura da prévia */
    height: 350px; /* altura da prévia */
    border: 1px solid #ccc; /* borda para visualização */
    overflow: hidden; /* esconde barras de rolagem */
}

.preview-iframe {
    width: 500px; /* ocupar largura total do container */
    height: 350px; /* ocupar altura total do container */
    border: none; /* sem borda */
  }

.lista-plano li+li{
    border-top: 1px solid rgba(0, 0, 0, .2);
}
.lista-plano li{
    
    padding: 1rem;
}  